.uploading {
    opacity: 0.5;
}
progress[value] {
    -webkit-appearance: none;
    appearance: none;
}
progress::-webkit-progress-bar { background: rgb(102, 190, 245) }
progress::-webkit-progress-value { background: rgb(3, 23, 241)}
.grid progress[value] {
    position: absolute;
    top: 40px;
    left: 8px;
    width: 70px;
    height: 10px;
}
.list progress[value] {
    position: relative;
    top: 50%;
    width: 150px;
    height: 10px;
    transform: translateY(-50%); 
}